<%= form.field_container :name do %>
  <%= form.label :name, t('spree.admin.menu_bars.name') %>
  <span class="required"></span>
  <br/>
  <%= form.text_field :name, :class => "name" %>
  <%= error_message_on :menu_bar, :name %>
<% end %>
<%= form.field_container :description do %>
  <%= form.label :description, t('spree.admin.menu_bars.description') %>
  <span class="required"></span>
  <br/>
  <%= form.text_field :description, :class => "description" %>
  <%= error_message_on :menu_bar, :description %>
<% end %>
<%= form.field_container :css_class do %>
  <%= form.label :css_class, t('spree.admin.menu_bars.css_class') %>
  <span class="required"></span>
  <br/>
  <%= form.text_field :css_class, :class => "css_class" %>
  <%= error_message_on :menu_bar, :css_class %>
<% end %>
